<section class="ledger-summary-page">
  <div class="ledger-summary-header">
    <div>
      <span>Participant Ledger</span>
      <h2>$ 400.00</h2>
    </div>
    <div>
      This is a link
    </div>
  </div>

  <div class="ledger-summary-body">
    <div>
      <canvas id="MyChart" class="pie-chart-graph">{{ chart }}</canvas>
    </div>
    <div class="amount-types-container">
      <div class="individual-amounts-container">
        <div class="square-title-container">
          <span class="square-rep debits-color"></span>
          <h3>
            Debits
          </h3>
        </div>
        <div class="amount-percentage-container">
          <p>{{ 100 | currency }}</p>
          <div class="container">
            <div class="skill html" style="width: 80%"></div>
          </div>
        </div>
      </div>
      <div class="line-breaker"></div>
      <div class="individual-amounts-container">
        <div class="square-title-container">
          <span class="square-rep credits-color"></span>
          <h3>
            Credits
          </h3>
        </div>
        <div class="amount-percentage-container">
          <p>{{ 200 | currency }}</p>
          <div class="container">
            <div class="skill html" style="width: 80%"></div>
          </div>
        </div>
      </div>
      <div class="line-breaker"></div>
      <div class="individual-amounts-container">
        <div class="square-title-container">
          <span class="square-rep balance-color"></span>
          <h3>
            Balance
          </h3>
        </div>
        <div class="amount-percentage-container">
          <p>{{ 300 | currency }}</p>
          <div class="container">
            <div class="skill html" style="width: 80%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <p>
  Transactions for all profiles are listed below. Click on a profile name or
  description to see additional details for that transaction. Using the
  <strong><i class="fas fa-filter"></i> Filter</strong> option, you may adjust
  the ledger for a specific date range or transaction type.
</p> -->

<!-- <section class="totals-cards no-print">
  <div class="balance-card total debits">
    <h4>
      Debits
      <tooltip>
        Includes any refunds, credit card chargebacks, ACH returns, and payouts.
      </tooltip>
    </h4>
    <h2>{{ crebitTotals.debits | currency }}</h2>
  </div>
  <div class="balance-card total credits">
    <h4>
      Credits
      <tooltip position="center">
        Includes all payments made to the organization.
      </tooltip>
    </h4>
    <h2>{{ crebitTotals.credits | currency }}</h2>
  </div>
  <div class="balance-card total credits">
    <h4>
      Balance
      <tooltip position="shift-left">
        The difference between all credits and debits.
      </tooltip>
    </h4>
    <h2>{{ crebitTotals.balance | currency }}</h2>
  </div>
</section> -->
