<div class="backdrop" (click)="onClose()">
</div>
<dialog class="form-dialog" open>
  <h2>Add Task</h2>
  <form>
    <div>
      <label for="title">Date</label>
      <!-- [(ngModel)] the square and paren sets up two-way binding -->
      <div>
        <input class="basic-input" type="date" id="date-start" name="title" />
        <input class="basic-input" type="date" id="date-end" name="title" />
      </div>
    </div>

    <div class="select-container">
      <label>Filter by Type</label>
      <mat-form-field>
        <mat-label>Select Type</mat-label>
        <mat-select [(value)]="selectedFood">
          @for (crebitType of crebitTypeChoices; track crebitType.value) {
            <mat-option class="select-options" [value]="crebitType.value">{{crebitType.label}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="select-container">
      <label>Form Registration</label>
      <mat-form-field>
        <mat-label>Select Form Registration</mat-label>
        <mat-select [(value)]="selectedFood">
          @for (regChoice of regFilterChoices; track regChoice) {
            <mat-option class="select-options" [value]="regChoice.value">{{regChoice.label}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="select-container">
      <label>Profile Registered</label>
      <mat-form-field>
        <mat-label>Select Registered To...</mat-label>
        <mat-select [(value)]="selectedFood">
          @for (food of foods; track food) {
            <mat-option class="select-options" [value]="food.value">{{food.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="select-container">
      <label>Deactivated Registrations</label>
      <mat-form-field>
        <mat-label>Select Deactivated Registrations</mat-label>
        <mat-select [(value)]="selectedFood">
          @for (food of foods; track food) {
            <mat-option class="select-options" [value]="food.value">{{food.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="select-container">
      <label>Split Line Items</label>
      <mat-form-field>
        <mat-label>Split Line Items</mat-label>
        <mat-select [(value)]="selectedFood">
          @for (food of foods; track food) {
            <mat-option class="select-options" [value]="food.value">{{food.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <p class="cancel-submit-container">
      <button class="cancel-btn" type="button" (click)="onClose()">Cancel</button>
      <button class="add-btn" type="submit">Add Filters</button>
    </p>
  </form>
</dialog>

